
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
  
</head>
<body>

    <h2>输入两个数从大到小输出</h2>

    <form method="post" action="/Menu/bidaxiao">
        第一个数
        <input id="Text1" type="text" name="one" />
        第二个数
        <input id="Text1" type="text" name="two" />
        <input id="Button1" type="submit" value="提交" />
    </form>

</body>
</html>
