
@{
    ViewBag.Title = "kong111";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@section di{

    <section class="product-area product-default-area">
        <div class="container pt--0">
            <div class="row">
                <div class="col-12">
                    <div class="section-title mb-45 mb-sm-20 shape-center text-center">

                        <h5 class="sub-title">Best PRODUCT</h5>
                        <h2 class="title">New Collection</h2>
                    </div>
                    <div class="isotope-filter">
                        <button class="active" data-filter="*">All</button>
                        <button data-filter=".filter_new">New</button>
                        <button data-filter=".filter_best_sellers">Best Sellers</button>
                        <button data-filter=".filter_featured">Featured</button>
                        <button data-filter=".filter_on_sall">On Sall</button>
                    </div>
                </div>
            </div>
            <div class="row isotope-grid">
                <div class="col-sm-6 col-lg-3 isotope-item filter_best_sellers filter_on_sall">
                    <!--== Start Product Item ==-->
                    <div class="product-item">
                        <div class="product-thumb">
                            <a href="single-product.html">
                                <img src="static/picture/15.webp" width="270" height="320" alt="Image-HasTech">
                            </a>
                        </div>
                        <div class="product-info">
                            <h4 class="title"><a href="single-product.html">Joust Duffle Bag</a></h4>
                            <div class="prices">
                                <span class="price">$20.19</span>
                            </div>
                        </div>
                        <div class="product-action">
                            <button type="button" class="btn-product-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal">
                                <i class="pe-7s-like"></i>
                            </button>
                            <div class="product-action-links">
                                <button type="button" class="btn-product-cart" data-bs-toggle="modal" data-bs-target="#action-CartAddModal">
                                    <i class="pe-7s-shopbag"></i>
                                </button>
                                <button type="button" class="btn-product-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal">
                                    <i class="pe-7s-look"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--== End prPduct Item ==-->
                </div>
                <div class="col-sm-6 col-lg-3 isotope-item filter_new filter_featured">
                    <!--== Start Product Item ==-->
                    <div class="product-item">
                        <div class="product-thumb">
                            <a href="single-product.html">
                                <img src="static/picture/25.webp" width="270" height="320" alt="Image-HasTech">
                            </a>
                        </div>
                        <div class="product-info">
                            <h4 class="title"><a href="single-product.html">Endeavor Daytripa</a></h4>
                            <div class="prices">
                                <span class="price">$33.00</span>
                            </div>
                        </div>
                        <div class="product-action">
                            <button type="button" class="btn-product-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal">
                                <i class="pe-7s-like"></i>
                            </button>
                            <div class="product-action-links">
                                <button type="button" class="btn-product-cart" data-bs-toggle="modal" data-bs-target="#action-CartAddModal">
                                    <i class="pe-7s-shopbag"></i>
                                </button>
                                <button type="button" class="btn-product-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal">
                                    <i class="pe-7s-look"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--== End prPduct Item ==-->
                </div>
                <div class="col-sm-6 col-lg-3 isotope-item filter_best_sellers filter_on_sall">
                    <!--== Start Product Item ==-->
                    <div class="product-item">
                        <div class="product-thumb">
                            <a href="single-product.html">
                                <img src="static/picture/32.webp" width="270" height="320" alt="Image-HasTech">
                            </a>
                        </div>
                        <div class="product-info">
                            <h4 class="title"><a href="single-product.html">Impulse Duffle</a></h4>
                            <div class="prices">
                                <span class="price">$65.00</span>
                            </div>
                        </div>
                        <div class="product-action">
                            <button type="button" class="btn-product-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal">
                                <i class="pe-7s-like"></i>
                            </button>
                            <div class="product-action-links">
                                <button type="button" class="btn-product-cart" data-bs-toggle="modal" data-bs-target="#action-CartAddModal">
                                    <i class="pe-7s-shopbag"></i>
                                </button>
                                <button type="button" class="btn-product-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal">
                                    <i class="pe-7s-look"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--== End prPduct Item ==-->
                </div>
                <div class="col-sm-6 col-lg-3 isotope-item filter_new filter_featured">
                    <!--== Start Product Item ==-->
                    <div class="product-item">
                        <div class="product-thumb">
                            <a href="single-product.html">
                                <img src="static/picture/42.webp" width="270" height="320" alt="Image-HasTech">
                            </a>
                        </div>
                        <div class="product-info">
                            <h4 class="title"><a href="single-product.html">Driven Backpack</a></h4>
                            <div class="prices">
                                <span class="price">$25.00</span>
                            </div>
                        </div>
                        <div class="product-action">
                            <button type="button" class="btn-product-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal">
                                <i class="pe-7s-like"></i>
                            </button>
                            <div class="product-action-links">
                                <button type="button" class="btn-product-cart" data-bs-toggle="modal" data-bs-target="#action-CartAddModal">
                                    <i class="pe-7s-shopbag"></i>
                                </button>
                                <button type="button" class="btn-product-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal">
                                    <i class="pe-7s-look"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--== End prPduct Item ==-->
                </div>
                <div class="col-sm-6 col-lg-3 isotope-item filter_best_sellers filter_on_sall">
                    <!--== Start Product Item ==-->
                    <div class="product-item">
                        <div class="product-thumb">
                            <a href="single-product.html">
                                <img src="static/picture/51.webp" width="270" height="320" alt="Image-HasTech">
                            </a>
                        </div>
                        <div class="product-info">
                            <h4 class="title"><a href="single-product.html">Fusion Backpack</a></h4>
                            <div class="prices">
                                <span class="price">$45.00</span>
                            </div>
                        </div>
                        <div class="product-action">
                            <button type="button" class="btn-product-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal">
                                <i class="pe-7s-like"></i>
                            </button>
                            <div class="product-action-links">
                                <button type="button" class="btn-product-cart" data-bs-toggle="modal" data-bs-target="#action-CartAddModal">
                                    <i class="pe-7s-shopbag"></i>
                                </button>
                                <button type="button" class="btn-product-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal">
                                    <i class="pe-7s-look"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--== End prPduct Item ==-->
                </div>
                <div class="col-sm-6 col-lg-3 isotope-item filter_new filter_featured">
                    <!--== Start Product Item ==-->
                    <div class="product-item">
                        <div class="product-thumb">
                            <a href="single-product.html">
                                <img src="static/picture/61.webp" width="270" height="320" alt="Image-HasTech">
                            </a>
                        </div>
                        <div class="product-info">
                            <h4 class="title"><a href="single-product.html">Savvy Shoulder Tote</a></h4>
                            <div class="prices">
                                <span class="price">$30.00</span>
                            </div>
                        </div>
                        <div class="product-action">
                            <button type="button" class="btn-product-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal">
                                <i class="pe-7s-like"></i>
                            </button>
                            <div class="product-action-links">
                                <button type="button" class="btn-product-cart" data-bs-toggle="modal" data-bs-target="#action-CartAddModal">
                                    <i class="pe-7s-shopbag"></i>
                                </button>
                                <button type="button" class="btn-product-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal">
                                    <i class="pe-7s-look"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--== End prPduct Item ==-->
                </div>
                <div class="col-sm-6 col-lg-3 isotope-item filter_best_sellers filter_on_sall">
                    <!--== Start Product Item ==-->
                    <div class="product-item">
                        <div class="product-thumb">
                            <a href="single-product.html">
                                <img src="static/picture/7.webp" width="270" height="320" alt="Image-HasTech">
                            </a>
                        </div>
                        <div class="product-info">
                            <h4 class="title"><a href="single-product.html">Voyage Yoga Bag</a></h4>
                            <div class="prices">
                                <span class="price">$39.00</span>
                            </div>
                        </div>
                        <div class="product-action">
                            <button type="button" class="btn-product-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal">
                                <i class="pe-7s-like"></i>
                            </button>
                            <div class="product-action-links">
                                <button type="button" class="btn-product-cart" data-bs-toggle="modal" data-bs-target="#action-CartAddModal">
                                    <i class="pe-7s-shopbag"></i>
                                </button>
                                <button type="button" class="btn-product-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal">
                                    <i class="pe-7s-look"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--== End prPduct Item ==-->
                </div>
                <div class="col-sm-6 col-lg-3 isotope-item filter_new filter_featured">
                    <!--== Start Product Item ==-->
                    <div class="product-item">
                        <div class="product-thumb">
                            <a href="single-product.html">
                                <img src="static/picture/8.webp" width="270" height="320" alt="Image-HasTech">
                            </a>
                        </div>
                        <div class="product-info">
                            <h4 class="title"><a href="single-product.html">Wayfarer Messenger Bag</a></h4>
                            <div class="prices">
                                <span class="price">$50.00</span>
                            </div>
                        </div>
                        <div class="product-action">
                            <button type="button" class="btn-product-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal">
                                <i class="pe-7s-like"></i>
                            </button>
                            <div class="product-action-links">
                                <button type="button" class="btn-product-cart" data-bs-toggle="modal" data-bs-target="#action-CartAddModal">
                                    <i class="pe-7s-shopbag"></i>
                                </button>
                                <button type="button" class="btn-product-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal">
                                    <i class="pe-7s-look"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--== End prPduct Item ==-->
                </div>
            </div>
        </div>
    </section>
    <!--== End Product Area Wrapper ==-->

    <p>种土豆🐱‍👓 </p>
    <p>种土豆🐱‍👓 </p> <p>种土豆🐱‍👓 </p> <p>种土豆🐱‍👓 </p> <p>种土豆🐱‍👓 </p> <p>种土豆🐱‍👓 </p> <p>种土豆🐱‍👓 </p> <p>种土豆🐱‍👓 </p> <p>种土豆🐱‍👓 </p> <p>种土豆🐱‍👓 </p> <p>种土豆🐱‍👓 </p> <p>种土豆🐱‍👓 </p> <p>种土豆🐱‍👓 </p> <p>种土豆🐱‍👓 </p> <p>种土豆🐱‍👓 </p> <p>种土豆🐱‍👓 </p> <p>种土豆🐱‍👓 </p> <p>种土豆🐱‍👓 </p> <p>种土豆🐱‍👓 </p> <p>种土豆🐱‍👓 </p> <p>种土豆🐱‍👓 </p> <p>种土豆🐱‍👓 </p> <p>种土豆🐱‍👓 </p> <p>种土豆🐱‍👓 </p> <p>种土豆🐱‍👓 </p> <p>种土豆🐱‍👓 </p> <p>种土豆🐱‍👓 </p> <p>种土豆🐱‍👓 </p> <p>种土豆🐱‍👓 </p> <p>种土豆🐱‍👓 </p> <p>种土豆🐱‍👓 </p> <p>种土豆🐱‍👓 </p> <p>种土豆🐱‍👓 </p>
}